language: java
before_install:
- wget http://dl.google.com/android/android-sdk_r18-linux.tgz
- tar -zxf android-sdk_r18-linux.tgz
- env
- export ANDROID_HOME=${TRAVIS_BUILD_DIR}/android-sdk-linux
- export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools
- android update sdk --no-ui --obsolete --force
