language: java
before_install:

# env
- env

# install sdk
- wget http://dl.google.com/android/android-sdk_r22-linux.tgz
- tar -zxf android-sdk_r22-linux.tgz
- export ANDROID_HOME=${TRAVIS_BUILD_DIR}/android-sdk-linux
- export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools

# install android build tools
- wget https://dl-ssl.google.com/android/repository/build-tools_r17-linux.zip
- unzip build-tools_r17-linux.zip -d $ANDROID_HOME
- mkdir -p $ANDROID_HOME/build-tools/
- mv $ANDROID_HOME/android-4.2.2 $ANDROID_HOME/build-tools/17.0.0

# install tools and platforms
- echo yes | android update sdk --filter platform-tools --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter android-16 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter android-17 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter sysimg-17 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter extra-android-support --no-ui --all --force > /dev/null

# aapt path fix
- cd $ANDROID_HOME/platform-tools
- chmod 777 ../build-tools/17.0.0/aapt
- ln -s ../build-tools/17.0.0/aapt ./aapt
- chmod 777 ../build-tools/17.0.0/aidl
- ln -s ../build-tools/17.0.0/aidl ./aidl
- chmod 777 ../build-tools/17.0.0/lib
- ln -s ../build-tools/17.0.0/lib ./lib

- ls -la
- ls -la ../build-tools/17.0.0
- which adb
- which aapt

- cd ${TRAVIS_BUILD_DIR}

- ls -l /home/travis/build/kt3k/straw-android-maven/android-sdk-linux/platform-tools/aapt
