language: java
before_install:

# install sdk
- wget http://dl.google.com/android/android-sdk_r22-linux.tgz
- tar -zxf android-sdk_r22-linux.tgz
- export ANDROID_HOME=${TRAVIS_BUILD_DIR}/android-sdk-linux
- export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools

# install android build tools
- wget https://dl-ssl.google.com/android/repository/build-tools_r17-linux.zip
- unzip build-tools_r17-linux.zip -d $ANDROID_HOME
- mkdir -p $ANDROID_HOME/build-tools/
- mv $ANDROID_HOME/android-4.2.2 $ANDROID_HOME/build-tools/17.0.0

# aapt
- ln -s $ANDROID_HOME/build-tools/17.0.0/aapt $ANDROID_HOME/platform-tools/aapt
- ln -s $ANDROID_HOME/build-tools/17.0.0/aidl $ANDROID_HOME/platform-tools/aidl
- ln -s $ANDROID_HOME/build-tools/17.0.0/lib $ANDROID_HOME/platform-tools/lib

# install tools and platforms
- echo yes | android update sdk --filter platform-tools --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter android-16 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter android-17 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter sysimg-17 --no-ui --all --force > /dev/null
- echo yes | android update sdk --filter extra-android-support --no-ui --all --force > /dev/null
